<div class='chat'>
  <div class='chat-avatar'></div>
  <div class='chat-container'>
    <p class='chat-username'>{{username}}</p>
    <p class='chat-message'>{{msg}}</p>
  </div>
  <div class='chat-date'>{{time}}</div>
</div>