<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='style.css' />
</head>
<body>
  <div class="profile-container">
    <div class="profile-avatar"></div>
    <b>Kate</b>
    {{> element key='Date of birth' value='17/12/2000'}}
    {{> element key='Username' value='HW1881'}}
    {{> element key='Name' value='Katerina'}}
    {{> element key='Surname' value='Ivanova'}}
    {{> element key='Phone' value='+7(999)9999999'}}
    <a href="/chats" class="container-btn">
      <button>Save</button>
    </a>
    <a href="#">Edit</a>
    <a href="/signin"> Log Out </a>
  </div>
</body>
</html>